footer {
    font-family: Montserrat,sans-serif;
    background-color: #f3f4f8;
    box-sizing: border-box;

    /* Plocka bort när resten av all content är inne */
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.footerinfo {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 20px 0;

  }

h3 {
    
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
  }

ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  
.icons {
    /* margin: 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
  }

  li {
    padding: 0.25rem;
    margin-block: 0.25rem; 
  }