.IconContainer {
    
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20px;
}
.icon {
    font-size: 32px;
    cursor: pointer;
}
.iconhearth {
    font-size: 32px;
    cursor: pointer;
}
.iconhearth:hover {
    color: red;
    transition: 0.3s all ease-in;
}