*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.formBox{
    min-width: 50%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw ;
    position:relative;

}

.formBox h5{
    font-size: 35px ;
    text-align: center;
    color: black;
    margin: 0 0 .5vh 0;
}

.formHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formBox input, textarea, select {
    display: block;
    width: 50%;
    padding: .5rem .8rem .5rem .8rem;
    margin: 1rem 0;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 20px;

    /* Kan lägga display: flex; på diven som håller och sedan center med justify+align */
}

.formBox textarea{
    height: 15vh;
}

 .goback {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0.20rem;
    outline: none;
    padding: 13px 23px;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
  }

  .goback:focus-visible {
    box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
    transition: box-shadow .2s;
  }

  .goback:active {
    background-color: #F7F7F7;
    border-color: #000000;
    transform: scale(.96);
  }

  .goback:disabled {
    border-color: #DDDDDD;
    color: #DDDDDD;
    cursor: not-allowed;
    opacity: 1;
  }





